# Sensitive files
tools/.secret_api_key.txt
*.env
.env.*

# Build outputs
build/
dist/*.apk

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
android/key.properties
android/keystore/*.keystore
android/local.properties
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
*.iml
.vscode/
